*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  gap: 100px;
  align-items: center;

  &.gradient-background {
    background: linear-gradient(152deg, #be4356, #322325, #339cb3, #ade4);
    background-size: 240% 240%;
    animation: gradient-animation 24s ease infinite;
  }
}

.card {
  width: 350px;
  height: 500px;
  perspective: 1000px;
}

.glow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.15s ease-out;
  border-radius: 20px;
  mix-blend-mode: hard-light;
  background: radial-gradient(
    circle at 50% 0%,
    rgba(184, 196, 211, 0.7),
    transparent
  );
}

.content-card {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 20px;
  transition: all 0.15s ease-out;
}

.content-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
